.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px greenyellow;
}

.note{
    font-size:15px;
    color:black;
}

.Developername{
    bottom:0;
    position:fixed;
    color:pink;
    background:purple;
    width:100%;
text-align:center;
line-height: 3;
}

canvas{
    border:5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
}